<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624662639841-bmdhllj6svpav26dcsm1pshkuf5argkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624662639841-bmdhllj6svpav26dcsm1pshkuf5argkh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>624662639841-voadcokaro0drdl2og0hmur9gfirt0rd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnRH2ICxoCdxFcjeDtPE4cekzdoOxyKFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>624662639841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProject</string>
	<key>PROJECT_ID</key>
	<string>fir-project-ef68f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-ef68f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624662639841:ios:f61ee9dbf16c1d0bb373a0</string>
</dict>
</plist>